@import "../../../scss/scss-utils/color";
@import "../../../scss/scss-utils/mixins";

.area_chart_wrapper {
	border-radius: 8px;
	width: 100%;
	height: 25rem;
	margin-top: 2rem;
	padding: 2rem;
	@include box-shadow-sm;
	p {
		padding-bottom: 2rem;
	}
	.area_chart {
		height: 80%;
		width: 100%;
	}
}
