@import "../../../../scss/scss-utils/color";
@import "../../../../scss/scss-utils/mixins";
.typography__variant_h1 {
	font-size: 2.2rem;
	letter-spacing: 0.06px;
	font-weight: 500;
	line-height: 3.5rem;
	margin: 0;
	padding: 0;
	@include screens-lg {
		font-size: 2.9rem;
		line-height: 4.8rem;
	}
}

.typography__variant_h2 {
	font-size: 1.2rem;
	font-weight: 500;
	@include screens-lg {
		font-size: 2.2rem;
		line-height: 3rem;
	}
}

.typography__variant_h3 {
	font-size: 1.3rem;
	font-weight: 500;
	@include screens-lg {
		font-size: 2rem;
	}
}

.typography__variant_h4 {
	font-size: 1rem;
	font-weight: 500;
	letter-spacing: 0.5px;
	@include screens-lg {
		font-size: 1.3rem;
	}
}

.typography__variant_h5 {
	font-size: 0.9rem;
	font-weight: 500;
	@include screens-lg {
		font-size: 1.2rem;
	}
}

.typography__variant_h6 {
	font-size: 0.8rem;
	font-weight: 500;
	@include screens-lg {
		font-size: 1rem;
	}
}
.typography__variant_subtitle {
	font-size: 1.3rem;
	font-weight: 400;
	letter-spacing: 0.5px;
	color: $navy_main;
	@include screens-lg {
		font-size: 1.5rem;
	}
}

.typography__variant_smBold700 {
	font-size: 1rem;
	font-weight: 700;
	letter-spacing: 0.5px;
	color: $navy_main;
}
.typography__variant_widgetTitle {
	font-size: 0.9rem;
	font-weight: 600;
	letter-spacing: 0.5px;
	@include flex-row-center;
	@include screens-2xl {
		font-size: 1rem;
	}
}

.typography__variant_widgetCount {
	font-size: 0.8rem;
	font-weight: 500;
	letter-spacing: 0.5px;
	@include flex-row-center;
	gap: 0.1rem;
	@include screens-lg {
		font-size: 0.9rem;
	}
}

.typography__variant_body {
	font-size: 0.85rem;
	color: $body_text;
	letter-spacing: 0.5px;
	line-height: 1.8rem;
	@include screens-lg {
		font-size: 1rem;
	}
}
.typography__variant_small {
	font-size: 0.68rem;
	letter-spacing: 0.5px;
	@include flex-row-center;
	// gap: 0rem;
	@include screens-lg {
		font-size: 0.85rem;
	}
}
.typography__variant_dataGridTitle {
	font-size: 0.9rem;
	font-weight: 500;
	text-transform: capitalize;
}
.typography__variant_dataGridSubTitle {
	font-size: 0.85rem;
	font-weight: 500;
	text-transform: capitalize;
}
.typography__variant_dataGridSmall {
	font-size: 0.6rem;
	font-weight: 400;
}
.typography__color_primary {
	color: $navy_main;
}
.typography__color_white {
	color: $white;
}
.typography__color_red {
	color: $red_main;
}
.typography__color_paragraph {
	color: $body_text;
}
.typography__color_light-gray {
	color: $light_gray;
}
.typography__color_blue {
	color: $navy_3;
}
.typography__color_green {
	color: $green;
}
.typography__color_dark_gray {
	color: $dark_gray;
}
