@import "../../../../scss/scss-utils/color";
@import "../../../../scss/scss-utils/mixins";

.form_wrappre {
	position: relative;
	padding: 1.5rem;
	margin: 1rem;
	border-radius: 8px;
	@include box-shadow-sm;
	.loading_progress {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
	}
	h4 {
		margin-bottom: 1.8rem;
	}
	form {
		position: relative;
		@include flex-col;
		gap: 1.5rem;
		border-radius: 8px;
		padding: 2rem 1rem;
		.input_wraper {
			width: 100%;
		}
		.loading_progress {
			position: absolute;
			top: 0;
			width: 100%;
			left: 0;
			border-radius: 8px;
		}
		button {
			padding: 0.7rem 1.5rem;
		}
	}
}
