@import "../../../scss/scss-utils/color";
@import "../../../scss/scss-utils/mixins";
.user_page_wrapper {
	width: 100%;
	min-height: 75vh;
	margin-top: 2rem;
	.user_title_wrapper {
		margin-bottom: 2rem;
	}
}
