@import "../../../scss/scss-utils/color";
@import "../../../scss/scss-utils/mixins";

.order_page_wrapper {
	width: 100%;
	min-height: 70vh;
	margin-top: 2rem;
	.data_grid_wrapper {
		margin-bottom: 4rem;
	}
}
