@import "../../../scss//scss-utils/color";
@import "../../../scss/scss-utils/mixins";

.search_popup_wrapper {
	border-radius: 8px;
	height: 25rem;
	width: 18rem;
	padding: 1.5rem;
	position: relative;
	@include screens-md {
		width: 35rem;
	}
	.search_input {
		position: relative;
		svg {
			position: absolute;
			top: 0.5rem;
			right: 2%;
		}
	}

	.search_result_wrapper {
		height: 100%;
		width: 100%;
		@include flex-col;
		gap: 0.7rem;
		margin: 0.5rem 0;
		.search_result_row {
			@include flex-row-space-between;
			align-items: center;
			border-radius: 4px;
			cursor: pointer;
			&:hover {
				@include box-shadow-sm;
			}
			img {
				width: 3rem;
				height: 3rem;
			}
			p {
				width: calc(100% / 3);
				display: -webkit-box;
				-webkit-line-clamp: 1;
				-webkit-box-orient: vertical;
				overflow: hidden;
				text-overflow: ellipsis;
				color: $blue;
			}
		}
	}

	.close_btn {
		position: absolute;
		bottom: 4%;
		left: 50%;
		transform: translate(-50%, -4%);
	}
	.error_message {
		text-align: center;
		margin-top: 2rem;
	}
	.loader_wrapper {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
}
