@import '../../../scss/scss-utils/color';
@import '../../../scss/scss-utils/mixins';

.message_from_wrapper {
	position: absolute;
	bottom: 1.5rem;
	left: 3%;
	width: 94%;
	.emoji_wrapper {
		position: absolute;
		bottom: 3.3rem;
	}
	form {
		input {
			position: relative;
			width: 100%;
			padding: 1rem 3.5rem 1rem 1rem;
			outline: none;
			border-radius: 2rem;
			border: 1px solid #e1e1e1;
			position: relative;
			transition: all 0.1s ease-in-out;
			font-size: 0.9rem;
			letter-spacing: 0.3px;
			background-color: inherit;
			color: inherit;
			&:focus {
				border: 1px solid rgb(95, 104, 233, 0.5);
				transition: all 0.1s ease-in-out;
			}
		}
		button {
			padding: 0;
			position: absolute;
			right: 0.5rem;
			top: 50%;
			transform: translate(-50%, -50%);
		}
		.emoji_icon_button {
			position: absolute;
			right: 2rem;
			top: 50%;
			transform: translate(-50%, -50%);
		}
	}
}
.dark_mood_color {
	color: #e1e1e1;
}
.error_message_wrapper {
	position: absolute;
	bottom: -1.1rem;
	left: 2%;

	p {
		font-size: 0.7rem;
	}
}
