$dark_gray: #3b3841;
$black_main: #212529;
$body_text: #282a3a;
$gray_main: #b5b5b5;
$red_main: #cc2121;
$blue: rgb(78, 151, 253);
$gray_2: #727272;
$glass_white: rgba(255, 255, 255, 0.527);
$white: #fff;
$light_gray: #aeb4be;
$body: #f6f9fc;
$dark_mood_main: #0a1929;
$dark_mood_secondary: #0a2647;
$dark_mood_children: #0516291a;
$navy_1: #144272;
$navy_2: #205295;
$navy_3: #3f7fb8;
$navy_main: #2b3445;
$body_text: #9fa7b6;
$off_white: #e5e5e5;
$green: #1c6758;
$active_sidebar_background: rgba(55, 63, 80, 0.6);
